/* ----------------------------------------------- */
/* The ones below modify the default scribble.css: */

.maincolumn {
  font-size: 12pt;
  width: 90%;
/*  margin-right: -40em; */
  margin-left: 2em;
}



        
