/* ----------------------------------------------- */
/* The ones below modify the default scribble.css: */

.maincolumn {
  font-size: 14pt;
  width: 48em;
/*  margin-right: -40em; */
  margin-left: 2em;
}



        